
{% extends 'blog/base.html' %}

{% load static %}

{% block contenido %}

{% if recets.id is null %}
<h1>Recipe # {{recetas.id}}</h1>
    <div class="card my-4">
    <div class="card-body">
        <h5 class="card-title">{{ recetas.titulo }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ recetas.creador }}</h6>
        <p class="card-text">{{ recetas.proceso }}</p>
        <p class="card-text">{{ recetas.ingrediente }} :: {{ recetas.cantidades }}</p>
    </div>
    </div>
{% endif %}
{% endblock %}