{% extends 'blog/base.html' %}

{% load static %}

{% block contenido %}

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>Crea tu usuario aqui:</p>
                <div class="my-5">
                    <form action="/blog/singup/" method="post">
                        {% csrf_token %}
                        <div class="form-floating">
                            <input class="form-control" id="nombre" type="text" name = nombre placeholder="Ingrese su nombre..." data-sb-validations="required" />
                            <label for="name">Nombre</label>
                            <div class="invalid-feedback" data-sb-feedback="nombre:required">El nombre es requerido.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="apellido" type="text" name = apellido placeholder="Ingrese su apellido..." data-sb-validations="required" />
                            <label for="name">Apellido</label>
                            <div class="invalid-feedback" data-sb-feedback="apellidp:required">El apellido es requerido.</div>
                        </div>
                        <div class="form-floating">
                            <input class="form-control" id="email" type="email" name = email placeholder="Ingrese su email..." data-sb-validations="required,email" />
                            <label for="email">Direccion de Email </label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">El email es reuquerido.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email no valido.</div>
                        </div>
                        <br />
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Su usuario se creo con exito!</div>
            
                                <br />
                            </div>
                        </div>
  
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error en crear el usuario!</div></div>
                        <input class="btn btn-primary text-uppercase"  type="submit" value = "Crear Usuario">
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}